# CONFIGURATION OF DB (.env)
# Copy this file and rename it as .env and choose one of the two configurations under

# LOCAL (MSSQL)

FirstConnection="Server=(localdb)\\mssqllocaldb;Database=MS-SQL_Accounts;Trusted_Connection=True;TrustServerCertificate=True;"
SecondConnection="Server=(localdb)\\mssqllocaldb;Database=PaymentDB;Trusted_Connection=True;TrustServerCertificate=True;"


# CLOUD (Azure SQL DB)

FirstConnection="Server=tcp:YOUR_SERVER.database.windows.net,1433;Initial Catalog=YOUR_DB_NAME;User ID=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=False;Encrypt=True;Persist Security Info=False;"
SecondConnection="Server=tcp:YOUR_SERVER.database.windows.net,1433;Initial Catalog=YOUR_DB_NAME;User ID=YOUR_USER;Password=YOUR_PASSWORD;TrustServerCertificate=False;Encrypt=True;Persist Security Info=False;"
