@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <p>
        <a asp-action="ViewBalance" class="btn btn-primary">Check Student balance</a>
        <a asp-action="SchoolToStudent" class="btn btn-primary">Faculties send money to Student</a>
        <a asp-action="RechargeByCard" class="btn btn-primary">Recharge Student account</a>
    </p>
</div>
